body {
    background-image: url('title.jpg');
    background-repeat: no-repeat;
    background-position: contain;
}


p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    top: 30px;
}