body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

img {
    position: contain center;
}


p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
}