body {
    background-color: black;
    height: 100%; overflow: hidden;
    
}

img {
    background-image: url("title2.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    /**
    background-image: url("title2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/


}


p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    position: absolute;
}